@font-face {
   font-family: Raleway-Regular;
   src: url(/fonts/Raleway-Regular.ttf);
}
@media only screen and (max-width: 1300px) {
   .right-title {
      font-size: 0.8em;
   }
}
@media only screen and (max-width: 1200px) {
   .right-title {
      font-size: 0.7em;
   }
}
@media only screen and (max-width: 767px) {
   .right-title {
      font-size: 1em;
   }
   .m-0 {
      display: none;
      overflow-x: scroll;
   }
   .col-cust-md-2 {
      display: none;
   }
}
@media only screen and (max-width: 991px) {
   .row-category {
      display: none;
      overflow-x: scroll;
   }
}
@media only screen and (max-width: 991px) {
   .login-icon-parent {
      position: absolute;
      right: 1.5em;
   }
}
@media only screen and (min-width: 1836px) {
   .buy-font {
      font-size: 1.2em;
   }
}
@media only screen and (max-width: 1550px) {
   .buy-font {
      font-size: 1em;
   }
}
@media only screen and (max-width: 1500px) {
   .buy-font {
      font-size: 0.8em;
   }
}
@media only screen and (max-width: 1400px) {
   .buy-font {
      font-size: 0.7em;
   }
}
@media only screen and (max-width: 1000px) {
   .buy-font {
      font-size: 0.5em;
   }
}
@media only screen and (max-width: 950px) {
   .buy-font {
      font-size: 0.5em;
   }
}
@media only screen and (max-width: 767px) {
   .buy-font {
      font-size: 1em;
   }
}
@media only screen and (max-width: 900px) {
   .text-header {
      display: none;
   }
}
@media only screen and (max-width: 527px) {
   .social-group {
      margin: 0 auto;
      order: 2;
      margin-top: -10px;
   }
   .search-group {
      margin: 0 auto;
      order: 1;
   }
   .footer-info {
      margin: 0 auto;
      order: 3;
      margin-top: -8px;
   }
   .friend {
      order: 2;
   }
   .color {
      order: 1;
   }
}
@media only screen and (max-width: 668px) {
   .friend {
      order: 2;
   }
   .color {
      order: 1;
   }
}
.hrefrow_left {
   margin-left: -35vw;
   margin-right: -35vw;
   padding-left: 34vw;
   padding-right: 34vw;
   background: linear-gradient(180deg, #91307b, #1f256f);
}
.col-cust-md-5 {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
   position: relative;
   min-height: 1px;
   width: 100%;
}
@media only screen and (min-width: 1100px) {
   .hrefrow_left {
      margin-left: -120rem;
      margin-right: -120rem;
      padding-left: 117rem;
      padding-right: 105rem;
      background: linear-gradient(180deg, #91307b, #1f256f);
   }
}
header {
   box-shadow: 0 -9px 20px #000;
   overflow: hidden;
   position: relative;
   z-index: 100;
   font-family: "Segoe UI";
}
.modal-lg {
   min-width: 70%;
}
body {
   background-image: url(/img/back_img.jpg);
   background-repeat: repeat;
}
.imghead {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img .menu {
   font-weight: 700;
   text-decoration: none;
   color: #faf2ff;
}
.menu:hover {
   font-weight: 700;
   text-decoration: none;
   color: #d3b9e7;
}
.col-lg-5th,
.col-md-5th,
.col-sm-5th,
.col-xs-5th {
   position: relative;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   width: 20%;
   float: left;
}
.col-5-th {
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 20%;
   -ms-flex: 0 0 20%;
   flex: 0 0 20%;
   max-width: 20%;
}
@media (min-width: 768px) {
   .col-sm-5th {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
   }
}
@media (min-width: 150px) {
   .col-md-5th {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
   }
}
@media (min-width: 1200px) {
   .col-lg-5th {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
   }
}
@media only screen and (max-width: 992px) {
   .col-md-5th {
      width: 33%;
      float: none;
      display: block;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33%;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%;
   }
   .col-md-5th.col-sm-5th {
      width: 20%;
      float: left;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
   }
}
@media only screen and (max-width: 769px) {
   .col-md-5th {
      width: 100%;
      float: none;
      display: block;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
   }
   .col-md-5th.col-sm-5th {
      width: 50%;
      float: none;
      display: block;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
   }
}
@media only screen and (max-width: 767px) {
   .col-md-5th {
      width: 100%;
      float: none;
      display: block;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
   }
   .col-md-5th.col-sm-5th {
      width: 100%;
      float: none;
      display: block;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
   }
}
@media screen and (max-width: 667px) {
   .generalsliderinfo {
      display: none;
   }
}
.buy {
   color: #fff;
   background: #bfbfbf;
   padding: 10px 50px 10px 50px;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 100px;
}
.buy:hover {
   color: #fff;
   background: #94327f;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
}
.buy-city {
   padding: 0.3% 1%;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   border-radius: 5px;
}
.buy-city:hover {
   color: #fff;
   background: #94327f;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
}
.buymodal {
   color: #000;
   background: #edeef3;
   padding: 3%;
   border: 1px solid gray;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 100px;
}
.buymodal:hover {
   color: #fff;
   background: #94327f;
   border: 1px solid #94327f;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
}
.guide_active {
   color: #fff;
   background: #94327f;
   padding: 15px 50px 15px 50px;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 100px;
}
.guide_passive {
   color: #fff;
   background: #bfbfbf;
   padding: 15px 50px 15px 50px;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 100px;
}
.buy_first {
   color: #94327f;
   background: #fff1ea;
   padding: 3%;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 5px;
   width: 100%;
}
.buy_first:hover {
   color: #fff;
   background: #94327f;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
}
.w-95 {
   width: 95%;
}
.buy_second {
   color: #de5765;
   background: #fff;
   padding: 3%;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 5px;
   width: 100%;
}
.buy_second:hover {
   color: #fff;
   background: #d63231;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
}
.text-3vw {
   font-size: 3vw;
}
.buy_third {
   color: #000;
   background: #fff0e9;
   padding: 3%;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 5px;
   margin: 0 auto;
   width: 100%;
}
.buy_third_mobile {
   color: #000;
   background: #fff0e9;
   padding: 3%;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   text-transform: uppercase;
   border-radius: 5px;
   margin: 0 auto;
   width: 100%;
}
.buy_third:hover {
   color: #fff;
   background: #323232;
   transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
}
a {
   text-decoration: none;
   color: #fff;
}
.sort {
   color: #1f256f;
   text-decoration: none;
   padding: 1px 10px 1px 10px;
   font-size: 1em;
}
.sort:hover {
   color: #1f256f;
   background-color: #dabeee;
   text-decoration: none;
   border-radius: 2px;
   padding: 1px 10px 1px 10px;
   font-size: 1em;
}
.breadcrumbs {
   color: #90327e;
   font-weight: 700;
}
.breadcrumbs:hover {
   color: #90327e;
   font-weight: 700;
}
a:hover {
   text-decoration: none;
   color: #fff;
}
.tab_active {
   font-weight: 700;
   font-size: 1.8em;
   background-color: #fff;
   color: #000;
}
.tab_active:hover {
   font-weight: 700;
   font-size: 1.8em;
   background-color: #fff;
   color: #90327e;
   text-decoration: none;
}
.tab_passive_first {
   font-weight: 700;
   font-size: 1.8em;
   background-color: #eddff6;
}
.tab_passive_second {
   font-weight: 700;
   font-size: 1.8em;
   background-color: #e1ccf1;
}
.etc {
   padding: 7px 40px 7px 40px;
   border: 2px solid #90327e;
   font-size: 1.3em;
   color: #90327e;
   border-radius: 70px;
}
.etc:hover {
   padding: 7px 40px 7px 40px;
   border: 2px solid #90327e;
   font-size: 1.3em;
   color: #fff;
   background-color: #90327e;
   border-radius: 70px;
   text-decoration: none;
}
.generalsliderinfo {
   background: linear-gradient(90deg, #4f2975, #21256c, #21256c, #4f2975);
   border-radius: 0 0 5px 5px;
}
.banner_left {
   border-radius: 5px;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 3%;
   text-shadow: 0 0 10px #000;
   width: 100%;
   border: 2px solid #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.banner_right {
   border-radius: 5px;
   background-image: url(/img/banner_right.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 3%;
   text-shadow: 0 0 10px #000;
   width: 100%;
   border: 2px solid #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.slider_shop_img {
   max-width: 95%;
   border-radius: 5px;
}
.title_one {
   color: #90327e;
}
.title_two {
   color: #d33333;
}
.prodblock {
   width: 20%;
}
.controlslider {
   width: 0;
   margin-bottom: 6vw;
}
.controlslider_position_left {
   margin-left: -200%;
}
.controlslider_position_right {
   margin-right: -200%;
}
.novelties {
   border-color: #000;
   border-top: solid;
   border-width: 1px;
}
.bg-novelties {
   background-color: #d33333;
}
.bg-novelties-content {
   background-color: #fff0e9;
}
.categories {
   border-bottom: solid;
   border-top: solid;
   border-color: #000;
   border-width: 1px;
}
.bg-end {
   background-color: #f2e9fe;
}
.people {
   color: #1f256f;
}
.people_img {
   border: 2px solid #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   border-radius: 5px;
}
.br {
   border-radius: 5px;
}
.br-100 {
   border-radius: 100px;
   margin-top: 3px;
}
.imgslidemobile {
   width: 30%;
   height: 100%;
}
.carusel_one_mobile {
   width: 90%;
   margin: 0 auto 0;
}
.prevnext {
   width: 40px;
}
.search {
   width: 40px;
   border: 1px solid #cfcfd1;
   border-radius: 5px;
   background-color: #eeeff3;
}
.search-input {
   margin-top: -15px;
}
.btn-search {
   background-color: #973380;
}
.social {
   background-color: #4a509a;
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.social:hover {
   background-color: #939ae2;
}
.social-second-odnoklassniki {
   background-color: #dedede;
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.social-second-odnoklassniki:hover {
   background-color: #f3941e;
}
.social-second-vk {
   background-color: #dedede;
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.social-second-vk:hover {
   background-color: #4a76a8;
}
.social-second-at {
   background-color: #dedede;
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.social-second-at:hover {
   background-color: #168de2;
}
.social-second-facebook {
   background-color: #dedede;
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.social-second-facebook:hover {
   background-color: #3b5998;
}
.social-third-odnoklassniki {
   background-color: #f3941e;
}
.social-third-vk {
   background-color: #4a76a8;
}
.social-third-at {
   background-color: #168de2;
}
.social-third-facebook {
   background-color: #3b5998;
}
.vkcircle {
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.facebookcircle {
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.mailcircle {
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.odnoklassnikicircle {
   width: 32px;
   height: 32px;
   border-radius: 100%;
}
.fa-vk {
   margin-left: 20%;
   margin-top: 30%;
}
.fa-facebook-f {
   margin-left: 40%;
   margin-top: 30%;
}
.fa-at {
   margin-left: 25%;
   margin-top: 27%;
}
.fa-odnoklassniki {
   margin-left: 37%;
   margin-top: 30%;
}
.bg-main {
   background-color: #91327c;
}
.logofooter {
   width: 40px;
   height: 40px;
}
.footer-end {
   margin: 0 6.2% 0 6.2%;
}
.text-footer {
   font-size: 0.7em;
}
footer {
   font-family: Arial;
}
.bg-footer {
   background-color: #1f256f;
   border-radius: 5px;
}
.bg-dropmenu {
   background-color: #f2e9fe;
}
.text-main a {
   color: #91327c;
}
.btn-next-first {
   color: #000;
}
.btn-next-first:hover {
   color: #91327c;
}
.btn-next-first {
   color: #000;
}
.btn-next-first:hover {
   color: #91327c;
}
.img-border:hover {
   border-radius: 5px;
   border: 2px solid #91327c;
}
.prev-main {
   margin-left: -50%;
}
.next-main {
   margin-right: -50%;
}
.rowfooter {
   width: 93.5%;
   margin: 0 auto;
}
.prev {
   margin-left: -3%;
   width: 3%;
}
.next {
   margin-right: -3%;
   width: 3%;
}
.w-30 {
   width: 30%;
}
.w-19 {
   width: 19%;
}
.text-underslider {
   margin-top: 7%;
}
.img1width {
   margin-top: 45%;
}
.img2width {
   margin-top: 55%;
}
.img3width {
   margin-top: 57%;
}
.img4width {
   margin-top: 63%;
}
.img5width {
   margin-top: 55%;
}
.footermenutitles {
   color: #c9d0de;
}
.footermenu {
   color: #9d9adf;
}
.footermenu:hover {
   color: #c9d0de;
}
.content img {
   max-width: 100%;
   max-height: 600px;
}
.border-0 {
   border: 0;
}
.h-25 {
   height: 25%;
}
.table-css {
   border: 1px solid #fff;
   background-color: #323232;
   color: #fff;
}
.breadcrumb {
   background-color: rgba(0, 0, 0, 0);
}
.breadcrumb-item.active {
   color: #91327c;
   font-weight: 700;
}
.star-rating {
   line-height: 32px;
   font-size: 1.25em;
}
.star-rating .fa-star {
   color: #91327c;
}
.locateimg {
   weight: 40px;
   height: 40px;
   margin-top: 13%;
}
.logomargin {
   margin-top: -5%;
}
.fs-10 {
   font-size: 0.8em;
}
.fs-15 {
   font-size: 1.3em;
}
.loginimg {
   weight: 35px;
   height: 40px;
   margin-top: 15%;
}
.float-right {
   float: right;
}
.cart {
   border: 1px solid #cfcfd1;
   border-radius: 100px 50px 50px 100px;
}
.bg-table {
   background-color: #fff0e9;
}
.oneup {
   border: 1px solid #000;
   border-radius: 5px;
}
.border-friend {
   border: 2px solid gray;
   border-radius: 10px;
}
.title-product {
   color: #943280;
}
.title-product:hover {
   color: #606;
}
.border-spec {
   border-top-style: solid;
   border-top-width: 1px;
   border-top-color: #845857;
}
.border-spectwo {
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #845857;
}
.city-color {
   color: #943280;
}
.text-city {
   color: #3e3e3e;
}
.bg-city {
   background-color: #edeef3;
}
.active {
   background-color: #fff;
   border-radius: 5px;
   display: block;
}
.bg-table-info {
   background-color: #8892c7;
}
.bg-table-info-muted {
   background-color: #cad0ea;
}
.table-bordered-men td,
.table-bordered-men th {
   border: 1px solid #8892c7;
}
.bg-womens {
   background-color: #974085;
}
.bg-womens-muted {
   background-color: #fdd6f5;
}
.table-bordered-women td,
.table-bordered-women th {
   border: 1px solid #974085;
}
.bg-womensandmens {
   background-color: #a1a1a1;
}
.bg-womensandmens-muted {
   background-color: #edeef3;
}
.table-bordered-womensandmens td,
.table-bordered-womensandmens th {
   border: 1px solid #a1a1a1;
}
.bg-kids {
   background-color: #e4a886;
}
.bg-kids-muted {
   background-color: #fff0e9;
}
.table-bordered-kids td,
.table-bordered-kids th {
   border: 1px solid #e4a886;
}
.center {
   margin: 0 auto;
}
.itemproduct:hover {
   position: relative;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   z-index: 100;
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   -moz-transition: all 0.1s ease-out;
   -o-transition: all 0.1s ease-out;
   -webkit-transition: all 0.1s ease-out;
}
.on {
   color: #943280;
   font-weight: 700;
}
.w-100px {
   width: 100px;
}
.border-login {
   border: 1px solid #ced4da;
}
.br-5 {
   border-radius: 5px;
}
.bg-breadcrumb {
   background-color: #d9bfee;
}
.m-10 {
   margin: 10%;
}
.mt--5px {
   margin-top: -5px;
}
.text-muted {
   color: #9f9f9f;
}
.border-left-main {
   border-style: none none none solid;
   border-color: #c08cc4;
   padding: 0 10px;
}
.border-left-main:hover {
   font-weight: 700;
}
.breadcrumb-absolute {
   margin-top: -1.8em;
   position: absolute;
}
.b-1-solid-black {
   border: 1px solid #000;
}
.btn-close {
   position: absolute;
   z-index: 100;
   right: 33px;
}
.border-gray {
   border: 1px solid gray;
}
.text-review {
   color: #92317e;
}
.menu {
   font-weight: 700;
   text-decoration: none;
   color: #faf2ff;
}
.image {
   overflow: hidden;
}
.image img {
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -webkit-transition: all 1s ease-out;
}
.image img:hover {
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -o-transform: scale(1.2);
}
.locate-icon-parent {
   position: absolute;
   left: 0;
}
.left-title {
   line-height: 25px;
   font-size: 1.5em;
   float: none;
}
.w-75m {
   width: 75%;
}
@media only screen and (max-width: 768px) {
   .w-75m {
      width: 100%;
      font-size: 0.7em;
   }
}
@media only screen and (min-width: 991) {
   .login-icon-parent {
      position: relative;
   }
}
.right-title {
   padding: 0 10px 0 10px;
   float: none;
}
.cart-full {
   border: 1px solid gray;
   padding: 0 10px 0 50px;
   border-radius: 100px 50px 50px 100px;
}
.cartpage-full {
   border-radius: 100px;
}
.cart-text {
   font-size: 17pt;
}
.w-60 {
   width: 60%;
}
.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:visited {
   background-color: #94327f;
   border-color: #94327f;
   color: #fff;
}
.page-item.active .page-link {
   background-color: #94327f;
   border-color: #94327f;
   color: #fff;
}
.page-link {
   color: #94327f;
   background-color: #fff;
   border: 1px solid #dee2e6;
}
.content .btn-link:active,
.content .btn-link:hover,
.content .btn-link:visited {
   color: #94327f;
}
.warehouseBlock {
   padding-bottom: 5px;
}
.warehouseBlock.active .forMarker {
   display: flex;
   align-items: center;
   text-align: center;
}
.warehouseBlock .forMarker div {
   width: 100%;
}
.warehouseBlock .forMarker i {
   display: none;
   color: #94327f;
   font-size: 1.4em;
   padding: 10px 8px 10px 10px;
   border: 2px solid #94327f;
   border-radius: 50%;
   width: 45px;
   height: 45px;
}
.warehouseBlock.active .forMarker i {
   display: inline-block;
}
.right-title {
   position: relative;
   height: 30px;
   line-height: 1.2em;
   font-size: 0.83em;
}
.short_title {
   max-height: 70px;
   display: inline-block;
   overflow: hidden;
}
.bonus_container {
   padding: 160px;
   background-image: url(/img/bonus.png);
   background-size: 50%;
   background-position: center;
   background-repeat: no-repeat;
}
.bonus_text {
   color: #a12a7a;
   text-align: center;
   padding: 1em;
}
.bonus_number {
   color: #1aa70e;
   font-size: 1.1em;
}
.bonus_menu {
   background-color: #ecdce9;
}
@media only screen and (max-width: 767px) {
   .bonus_container {
      padding: 100px;
      background-image: url(/img/bonus.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
   }
   .bonus_text {
      color: #a12a7a;
      text-align: center;
      padding: 0.1em;
   }
   .bonus_number {
      color: #1aa70e;
      font-size: 1.1em;
   }
}
.cart_min_label {
   color: red;
}
.cart_min_block {
   pointer-events: none;
}
.mobil-footer {
   display: none;
   text-align: center;
   margin-top: 10px;
}
@media only screen and (max-width: 991px) {
   .mobil-footer {
      display: block;
   }
}
#city-change {
   position: relative;
   border: none;
   background-color: #ecdce9;
   cursor: pointer;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   -webkit-transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
   transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
#city-change:hover {
   background-color: #dabeee;
}
#city-change:focus {
   outline: 0;
}
@media only screen and (min-width: 40em) {
   .modal-overlay-city {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 101;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   }
   .modal-overlay-city.active {
      opacity: 1;
      visibility: visible;
   }
}
.modal-city {
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   position: relative;
   margin: 0 auto;
   background-color: #fff;
   width: 600px;
   max-width: 75rem;
   min-height: 20rem;
   padding: 1rem;
   border-radius: 3px;
   opacity: 0;
   overflow-y: auto;
   visibility: hidden;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal-city .close-modal-city {
   position: absolute;
   cursor: pointer;
   top: 5px;
   right: 15px;
   opacity: 0;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1),
      -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   -webkit-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.modal-city .close-modal-city svg {
   width: 1.75em;
   height: 1.75em;
}
.modal-city .modal-content-city {
   opacity: 0;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   -webkit-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.modal-city.active {
   visibility: visible;
   opacity: 1;
   z-index: 3;
   -webkit-transform: scale(1);
   transform: scale(1);
}
.modal-city.active .modal-content-city {
   opacity: 1;
}
.modal-city.active .close-modal-city {
   -webkit-transform: translateY(10px);
   transform: translateY(10px);
   opacity: 1;
}
@media only screen and (max-width: 39.9375em) {
   .modal-city {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      border-radius: 0;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      padding: 0 !important;
   }
   .close-modal-city {
      right: 20px !important;
   }
}
.modal-city-list {
   list-style: none;
}
.modal-city-button {
   outline: 0;
   border: none;
   margin-top: 5px;
   text-decoration: underline;
   background-color: #fff;
   cursor: pointer;
   font: inherit;
   color: inherit;
}
/*Main page style start ========================================*/
.grid-wrapper {
   display: grid;
   grid-template-columns: 500px 524px;
   grid-template-rows: 2fr 1fr;
   row-gap: 37px;
   column-gap: 10px;
   margin: 40px auto 200px auto;
}
.grid-wrapper__image {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   justify-self: center;
}

.grid-wrapper__images-small {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   justify-self: center;
}
.grid-wrapper__images-small img {
   cursor: pointer;
}
.grid-wrapper__images-small img:hover {
   transform: scale(1.2);
}
.grid-wrapper__description {
   grid-column: 2 / 3;
   grid-row: 1 / 3;
}
.description-title {
   font-size: 19px;
   font-weight: 700;
   margin-bottom: 45px;
}
.grid-wrapper__description h3 {
   font-size: 24px;
   font-weight: 700;
}

.sizes__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 25px;
}
.sizes__top-link {
   color: #000;
}
.sizes__top-link:hover {
   color: #000;
   text-decoration: underline;
}
.sizes-bottom {
   margin-bottom: 25px;
}
.radio__imput {
   appearance: none;
}
.radio__label {
   width: 30px;
   height: 25px;
   margin-right: 10px;
   cursor: pointer;
   text-align: center;
}
.radio__imput:checked + .radio__label {
   background-color: #dbdbdb;
}
.colors__top {
   margin-bottom: 35px;
}
.colors__bottom {
   margin-bottom: 25px;
}
.color__imput {
   appearance: none;
}
.color__label {
   width: 48px;
   height: 48px;
   margin-right: 34px;
   border: 2px solid #787676;
   border-radius: 50%;
   opacity: 0.5;
}
.color__label--1 {
   background: url(../img/color\ 1.jpg);
}
.color__label--2 {
   background: url(../img/color\ 2.jpg);
}
.color__label--3 {
   background: url(../img/color\ 3.jpg);
}
.color__imput:checked + .color__label {
   opacity: 1;
   border: 3px solid #91327c;
}
.description-price {
   margin-bottom: 30px;
}
.price-top {
   margin-bottom: 25px;
}
.price-bottom {
   color: #cf7fc7;
   font-size: 24px;
   font-weight: 700;
}

.description-counter {
   display: flex;
   justify-items: flex-start;
   align-items: center;
   font-size: 24px;
   margin-bottom: 35px;
}
.btn-counter {
   width: 38px;
   height: 40px;
   background-color: #d6d1d1;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   padding: 0;
}
.btn-counter:focus,
.btn--basket:focus,
.btn--basket:visited {
   outline: none;
}
.btn-counter:active,
.btn--basket:active {
   background-color: #91327c;
}

.btn-counter span {
   width: 100%;
   height: 100%;
   /*font-size: 45px;
   line-height: 30px;*/
}
.btn-minus {
   font-size: 55px;
   line-height: 27px;
}
.btn-plus {
   font-size: 41px;
   line-height: 30px;
}
.counter__count {
   width: 58px;
   height: 40px;
   height: 40px;
   background-color: #f1ecec;
   text-align: center;
}
.btn--basket {
   width: 310px;
   height: 60px;
   background-color: #cf7fc7;
   color: #fff;
   font-size: 24px;
   font-weight: bold;
   border: none;
   cursor: pointer;
   margin-bottom: 30px;
}
.description-availability {
   height: 40px;
   margin-bottom: 25px;
}
.description-availability a {
   color: #000;
}

.availability {
   display: block;
   height: 100%;
   font-size: 24px;
   padding-left: 40px;
   background: url(../img/Vector.png) no-repeat 0% 0%;
}
.description-description h3 {
   margin-bottom: 20px;
}
.description-description p {
   padding-left: 10px;
   font-size: 24px;
   margin-bottom: 20px;
}

@media (max-width: 1200px) {
   .grid-wrapper {
      grid-template-columns: 420px 420px;
   }
}
@media (max-width: 992px) {
   .grid-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 0.5fr 3fr;
      row-gap: 15px;
      margin: 10px auto 30px auto;
   }
   .grid-wrapper__image {
      align-self: end;
   }
   .grid-wrapper__description {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      padding-left: 10px;
   }
}
@media (max-width: 450px) {
   .grid-wrapper {
      grid-template-rows: 0.75fr 0.5fr 2fr;
      margin: 10px auto 30px auto;
   }
   .grid-wrapper__image {
      align-self: start;
   }

   .grid-wrapper__image img {
      width: 250px;
   }
   .grid-wrapper__images-small {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 10px;
      row-gap: 5px;
   }
   .grid-wrapper__images-small img {
      justify-self: center;
      align-self: center;
   }
   .btn--basket {
      width: 200px;
   }
}
@media (max-width: 370px) {
   .sizes__top {
      flex-direction: column;
      align-items: flex-start;
   }
   .sizes__top-link {
      order: -1;
   }
   .description-description p {
      font-size: 18px;
      margin-bottom: 10px;
   }
}